<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322168379992-c2otu968ihsj18p8sjrohi4e2amon11d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322168379992-c2otu968ihsj18p8sjrohi4e2amon11d</string>
	<key>API_KEY</key>
	<string>AIzaSyAhqRDn4Y2-lrYBbYlP021C2VB4qiIDnGg</string>
	<key>GCM_SENDER_ID</key>
	<string>322168379992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>motivappinc.Motiv</string>
	<key>PROJECT_ID</key>
	<string>motivapp-fd56a</string>
	<key>STORAGE_BUCKET</key>
	<string>motivapp-fd56a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322168379992:ios:a39758f92b0f162d75482d</string>
</dict>
</plist>