<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122300517309-6vjpakd4iplc2h3ass8fbqkob51p9m6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122300517309-6vjpakd4iplc2h3ass8fbqkob51p9m6c</string>
	<key>API_KEY</key>
	<string>AIzaSyDb7dBDBSw880ctavUCEDhJCOZkbRsVZL0</string>
	<key>GCM_SENDER_ID</key>
	<string>122300517309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>motivappinc.Motiv</string>
	<key>PROJECT_ID</key>
	<string>motiv-349217</string>
	<key>STORAGE_BUCKET</key>
	<string>motiv-349217.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122300517309:ios:b67598aa40d37f0a4c20d4</string>
</dict>
</plist>